#App-Container {
    background-color: #7A53FF;
    color: #ffffff;
    min-height: 100vh;
}

#Board-Row {
background: rgba(24, 0, 102, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(24, 0, 102, 0.5);
}

.Board-Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.theme-button {
    background-color: #7A53FF;
    border-color: #7A53FF;
    outline: none;
    box-shadow: none;
}

.theme-button:hover {
    background-color: #b199ff;
    border-color: #b199ff;
}

.theme-card {
    background-color: #7A53FF;
}

.theme-button:focus {
    background-color: #8a66ff;
    border-color: #8a66ff;
    outline: none;
    box-shadow: none;
}
.theme-pwr-button, .theme-pwr-button:hover, .theme-pwr-button:focus {
    background-color: #ffffff;
    color: #7A53FF;
    outline: none;
    box-shadow: none;
}